.terminal {
    background: black;
    color: lime;
    padding: 10px;
    font-family: 'Consola', monospace;
    font-size: 1em;
    line-height: 1.5;
    overflow-y: hidden;
    overflow-x: hidden;
}

.inputLine {
    display: flex;
    margin: 0; /* ensure no default margin */
    padding: 0; /* ensure no default padding */
}
  
.inputLine > span {
    flex-shrink: 0;
}
  
.inputLine > input {
    flex-grow: 1;
    color: lime;
    background: black;
    outline: none;
    border: none;
    font-family: 'Consola', monospace;
    font-size: 1em; /* match .terminal font-size */
    line-height: 1.5; /* match .terminal line-height */
    margin: 0; /* ensure no default margin */
    padding: 0; /* ensure no default padding */
}
